
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if page.title == "home" -%}
    <link rel="stylesheet" href="/assets/css/home.css">
  {%- elsif page.title == "troops" -%}
    <link rel="stylesheet" href="/assets/css/troops.css">
  {%- elsif page.title == "research" -%}
    <link rel="stylesheet" href="/assets/css/research.css">
  {%- elsif page.title == "healing" -%}
    <link rel="stylesheet" href="/assets/css/healing.css">
  {%- elsif page.title == "events" -%}
    <link rel="stylesheet" href="/assets/css/events.css">
  {%- endif %}