
  <div class="fixed-wrapper">
    <header>NGU Alliance</header>
    <nav>
      <a href="/">Home</a>
      {% if page.title == "ss" -%}
        <a href="/ss/events">Events</a>
      {%- elsif page.title == "events" -%}
        <a href="javascript:void(0)" class="current">Events</a>
      {%- else -%}
        <a href="/ss/events" class="current">Events</a>
      {%- endif %}
      <a href="/troops">Troops</a>
      <a href="/research">Research</a>
      <a href="/rallies">Rallies</a>
      <a href="/healing">Healing</a>
    </nav>
  </div>
