---
title: troops
layout: default
---
  <h1>Troop Training and Promotion Guide</h1>

  <p>
    1️⃣ The number 1 rule is <strong>always be training</strong>.
    Training anything is better than having any of those buildings sitting idle
  </p>
  <p>
    2️⃣ The number 2 rule is <strong>promote troops over train new</strong>. There are a number of reasons for this:
  <ul>
    <li>
      You lose nothing by promoting over training new. The power increase is the same and the training time is the
      same (accounting for the power added per training time). If that sounds too complex, don't worry, the main
      thing is that you don't lose out on power by promoting.
    </li>
    <li>
      Weak troops will get injured first, fill up your infirmary and then when your strong troops get injured later
      they will die if the infirmary is already full of weak troops
    </li>
    <li>
      Strong troops farm more effciently that weak troops, so while farming is an ok use of weak troops, you can get
      more done with fewer strong troops
    </li>
    <li>
      Having weak troops means you are liable to fill rallies or garrison with those weak troops. There is only so
      much space on rallies, so if you fill out the spaces with poor troops you compromise the overall effectiveness.
      This doesn't always matter but for things like the Castle battle or Sanctuary battles, it can mean the difference
      between succeding or not
    </li>
  </ul>
  <p>That's it. Simples!</p>

  <hr />

  <h1>Troop Calculator</h1>

  <div>
    <input type="checkbox" id="all-buildings-same" name="all-buildings-same" checked />
    <label for="all-buildings-same">All buildings the same level?</label>
  </div>

  <div class="inputs show-section" id="all-building-inputs">
    {% include_relative _building_input.html building="all-buildings" name="Training Buildings" %}
  </div>

  <div class="inputs hide-section" id="separate-building-inputs">
    {% include_relative _building_input.html building="barracks" name="Barracks" %}
    <hr />

    {% include_relative _building_input.html building="stables" name="Stables" %}
    <hr />

    {% include_relative _building_input.html building="range" name="Range" %}
  </div>

  <h3>Training Times List</h3>
  <div class="show-section" id="all-building-table">
    {% include_relative _training_time_table.html building="all" %}
  </div>

  <div class="hide-section" id="separate-building-tables">
    <h4>Barracks</h4>
    {% include_relative _training_time_table.html building="barracks" %}
    <h4>Stables</h4>
    {% include_relative _training_time_table.html building="stables" %}
    <h4>Range</h4>
    {% include_relative _training_time_table.html building="range" %}
  </div>

  <br />
  <hr />

  <h3>Training / Promotion Planner</h3>
  <h4>Current Troop Numbers</h4>
  <table class="troop-numbers" id="current-troops">
    <thead>
      <tr>
        <th>Level</th>
        <th># Infantry</th>
        <th># Cavalry</th>
        <th># Archers</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T1</td>
        <td><input type="number" id="current-infantry-1" value="0" placeholder="Current Lvl 1 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-1" value="0" placeholder="Current Lvl 1 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-1" value="0" placeholder="Current Lvl 1 Archers" step="1" ></td>
        <td id="current-total-1" class="total-col">0</td>
      </tr>
      <tr>
        <td>T2</td>
        <td><input type="number" id="current-infantry-2" value="0" placeholder="Current Lvl 2 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-2" value="0" placeholder="Current Lvl 2 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-2" value="0" placeholder="Current Lvl 2 Archers" step="1" ></td>
        <td id="current-total-2" class="total-col">0</td>
      </tr>
      <tr>
        <td>T3</td>
        <td><input type="number" id="current-infantry-3" value="0" placeholder="Current Lvl 3 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-3" value="0" placeholder="Current Lvl 3 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-3" value="0" placeholder="Current Lvl 3 Archers" step="1" ></td>
        <td id="current-total-3" class="total-col">0</td>
      </tr>
      <tr>
        <td>T4</td>
        <td><input type="number" id="current-infantry-4" value="0" placeholder="Current Lvl 4 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-4" value="0" placeholder="Current Lvl 4 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-4" value="0" placeholder="Current Lvl 4 Archers" step="1" ></td>
        <td id="current-total-4" class="total-col">0</td>
      </tr>
      <tr>
        <td>T5</td>
        <td><input type="number" id="current-infantry-5" value="0" placeholder="Current Lvl 5 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-5" value="0" placeholder="Current Lvl 5 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-5" value="0" placeholder="Current Lvl 5 Archers" step="1" ></td>
        <td id="current-total-5" class="total-col">0</td>
      </tr>
      <tr>
        <td>T6</td>
        <td><input type="number" id="current-infantry-6" value="0" placeholder="Current Lvl 6 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-6" value="0" placeholder="Current Lvl 6 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-6" value="0" placeholder="Current Lvl 6 Archers" step="1" ></td>
        <td id="current-total-6" class="total-col">0</td>
      </tr>
      <tr>
        <td>T7</td>
        <td><input type="number" id="current-infantry-7" value="0" placeholder="Current Lvl 7 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-7" value="0" placeholder="Current Lvl 7 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-7" value="0" placeholder="Current Lvl 7 Archers" step="1" ></td>
        <td id="current-total-7" class="total-col">0</td>
      </tr>
      <tr>
        <td>T8</td>
        <td><input type="number" id="current-infantry-8" value="0" placeholder="Current Lvl 8 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-8" value="0" placeholder="Current Lvl 8 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-8" value="0" placeholder="Current Lvl 8 Archers" step="1" ></td>
        <td id="current-total-8" class="total-col">0</td>
      </tr>
      <tr>
        <td>T9</td>
        <td><input type="number" id="current-infantry-9" value="0" placeholder="Current Lvl 9 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-9" value="0" placeholder="Current Lvl 9 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-9" value="0" placeholder="Current Lvl 9 Archers" step="1" ></td>
        <td id="current-total-9" class="total-col">0</td>
      </tr>
      <tr>
        <td>T10</td>
        <td><input type="number" id="current-infantry-10" value="0" placeholder="Current Lvl 10 Infantry" step="1" ></td>
        <td><input type="number" id="current-cavalry-10" value="0" placeholder="Current Lvl 10 Cavalry" step="1" ></td>
        <td><input type="number" id="current-archers-10" value="0" placeholder="Current Lvl 10 Archers" step="1" ></td>
        <td id="current-total-10" class="total-col">0</td>
      </tr>
      <tr class="total-row">
        <td>Total</td>
        <td id="current-infantry-total">0</td>
        <td id="current-cavalry-total">0</td>
        <td id="current-archers-total">0</td>
        <td id="current-total-total">0</td>
      </tr>
    </tbody>
  </table>

  <h4>Target Troop Numbers</h4>
  <table class="troop-numbers" id="target-troops">
    <thead>
      <tr>
        <th>Level</th>
        <th># Infantry</th>
        <th># Cavalry</th>
        <th># Archers</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T1</td>
        <td><input type="number" id="target-infantry-1" value="0" placeholder="Target Lvl 1 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-1" value="0" placeholder="Target Lvl 1 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-1" value="0" placeholder="Target Lvl 1 Archers" step="1" ></td>
        <td id="target-total-1" class="total-col">0</td>
      </tr>
      <tr>
        <td>T2</td>
        <td><input type="number" id="target-infantry-2" value="0" placeholder="Target Lvl 2 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-2" value="0" placeholder="Target Lvl 2 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-2" value="0" placeholder="Target Lvl 2 Archers" step="1" ></td>
        <td id="target-total-2" class="total-col">0</td>
      </tr>
      <tr>
        <td>T3</td>
        <td><input type="number" id="target-infantry-3" value="0" placeholder="Target Lvl 3 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-3" value="0" placeholder="Target Lvl 3 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-3" value="0" placeholder="Target Lvl 3 Archers" step="1" ></td>
        <td id="target-total-3" class="total-col">0</td>
      </tr>
      <tr>
        <td>T4</td>
        <td><input type="number" id="target-infantry-4" value="0" placeholder="Target Lvl 4 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-4" value="0" placeholder="Target Lvl 4 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-4" value="0" placeholder="Target Lvl 4 Archers" step="1" ></td>
        <td id="target-total-4" class="total-col">0</td>
      </tr>
      <tr>
        <td>T5</td>
        <td><input type="number" id="target-infantry-5" value="0" placeholder="Target Lvl 5 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-5" value="0" placeholder="Target Lvl 5 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-5" value="0" placeholder="Target Lvl 5 Archers" step="1" ></td>
        <td id="target-total-5" class="total-col">0</td>
      </tr>
      <tr>
        <td>T6</td>
        <td><input type="number" id="target-infantry-6" value="0" placeholder="Target Lvl 6 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-6" value="0" placeholder="Target Lvl 6 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-6" value="0" placeholder="Target Lvl 6 Archers" step="1" ></td>
        <td id="target-total-6" class="total-col">0</td>
      </tr>
      <tr>
        <td>T7</td>
        <td><input type="number" id="target-infantry-7" value="0" placeholder="Target Lvl 7 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-7" value="0" placeholder="Target Lvl 7 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-7" value="0" placeholder="Target Lvl 7 Archers" step="1" ></td>
        <td id="target-total-7" class="total-col">0</td>
      </tr>
      <tr>
        <td>T8</td>
        <td><input type="number" id="target-infantry-8" value="0" placeholder="Target Lvl 8 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-8" value="0" placeholder="Target Lvl 8 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-8" value="0" placeholder="Target Lvl 8 Archers" step="1" ></td>
        <td id="target-total-8" class="total-col">0</td>
      </tr>
      <tr>
        <td>T9</td>
        <td><input type="number" id="target-infantry-9" value="0" placeholder="Target Lvl 9 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-9" value="0" placeholder="Target Lvl 9 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-9" value="0" placeholder="Target Lvl 9 Archers" step="1" ></td>
        <td id="target-total-9" class="total-col">0</td>
      </tr>
      <tr>
        <td>T10</td>
        <td><input type="number" id="target-infantry-10" value="0" placeholder="Target Lvl 10 Infantry" step="1" ></td>
        <td><input type="number" id="target-cavalry-10" value="0" placeholder="Target Lvl 10 Cavalry" step="1" ></td>
        <td><input type="number" id="target-archers-10" value="0" placeholder="Target Lvl 10 Archers" step="1" ></td>
        <td id="target-total-10" class="total-col">0</td>
      </tr>
      <tr class="total-row">
        <td>Total</td>
        <td id="target-infantry-total">0</td>
        <td id="target-cavalry-total">0</td>
        <td id="target-archers-total">0</td>
        <td id="target-total-total">0</td>
      </tr>
    </tbody>
  </table>

  <h3>Results</h3>
  <p>It will take you the following times to promote all your troops:</p>
  <ul>
    <li>Infantry - <span id="promote-infantry-time"></span></li>
    <li>Cavalry - <span id="promote-cavalry-time"></span></li>
    <li>Archers - <span id="promote-archers-time"></span></li>
    <li><strong>Overall - <span id="promote-all-time"></span></strong></li>
  </ul>
  <br />
  <p>It will take you the following times to reach your target troop levels:</p>
  <ul>
    <li>Infantry - <span id="target-infantry-time"></span></li>
    <li>Cavalry - <span id="target-cavalry-time"></span></li>
    <li>Archers - <span id="target-archers-time"></span></li>
    <li><strong>Overall - <span id="target-all-time"></span></strong></li>
  </ul>
